<a href="https://colab.research.google.com/github/ManokarGopinath/Data-scrapping/blob/main/OCR_invoice%26inline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Invoice**

In [ ]:
# reading by columns and getting output as list
import pandas as pd
import csv
with open('key_value.csv', encoding='utf-8-sig') as csvfile:
    reader = csv.reader(csvfile)
    count = 0
    fsa=[]
    for row in reader:
        count = count+1
        #print(row[2])
        fsa.append(row[2])
print(fsa[0:])
#print(fsa[3:])

df = pd.DataFrame({'Invoice_id': '',
                   'InvoiceNo_ReceiptNo': fsa[11],
                   'User_id_FK': '',
                   'CustomerRef': '',
                   'Transaction_Date': fsa[6],
                   'TermsRef': '',
                   'SalesRepRef_AssociateID': '',
                   'Memo': '',
                   'DueDate': '',
                   'BillContact': '',
                   'BillAddress1': '',
                   'BillAddress2': '',
                   'BillCity': '',
                   'BillState': '',
                   'BillPostalCode': '',
                   'BillCountry': '',
                   'ShipContact': '',
                   'ShipAddress1': '',
                   'ShipAddress2': '',
                   'ShipCity': '',
                   'ShipState': '',
                   'ShipPostalCode': '',
                   'ShipCountry': '',
                   'QB_TranscationID': '',
                   'Store_name': '',
                   'Storeaddress': '',
                   'storesuite': '',
                   'storecity': '',
                   'storestate': '',
                   'storezipcode': '',
                   'storephone': '',
                   'invoice_subtotal': fsa[16],
                   'SalesTaxPercent': fsa[14],
                   'Salestas': '',
                   'Total': fsa[13],
                   'NumberOfItemsSold': fsa[5],
                   'NumberOfItemsReturned': fsa[9],
                   'CardType': fsa[12],
                   'CardNumber': fsa[8],
                   'AuthNo': fsa[7],
                   'AID': fsa[1],
                   'TenderDetails': fsa[17],
                   'Barcode': '',
                   'StoreID': fsa[3],
                   'Website': ''},index=[0])
df
df.to_csv("invoice.csv", index=None)

['Values', 'A0000000031010', '5022', '1685', '01', '2', '07/12/22 11:40:28 AM ASSOC:', '08912D', 'XXXXXXXXXXXX2868 <I>', '0', '1685-01-5022-2193-7', '1685-01-5022-2193-7', 'CREDIT', '$129.88', '$9.90', 'VALUE_NOT_FOUND', '$119.98', 'Detail #:1-01 2.09 012988']

**Invoice_Inline**

In [ ]:
import pandas as pd
import csv
with open('table.csv', encoding='utf-8-sig') as csvfile:
    reader = csv.reader(csvfile)
    count = 0
    fsa=[]
    a=[]
    for row in reader:
        count = count+1
        #print(row[2])
        fsa.append(row[2])
        a.append(row[3])
print(fsa[0:])
print(a[0:])

fruits = fsa[0:]

x = fruits.count("Subtotal")
x+=1
x
type(x)

fsa[0:x]
a[0:x]

df = pd.DataFrame({'Line_ItemName': fsa[0:x],
                  'Subtotal': a[0:x]})
df
df.to_csv("output.csv", index=None)

["400248173885 VERSACE L 'HOMME 3.", '400244460217 xGrainam 24 Blk 4W', 'Subtotal', 'Sales Tax 8.250%', 'Total', 'Sold: 2 Returned: 0', 'Visa']
['$34.99R', '$84.99R', '$119.98', '$9.90', '$129.88', ' ', '$129.88']

In [ ]:
import pandas as pd
import csv
with open('output.csv', encoding='utf-8-sig') as csvfile:
    reader = csv.reader(csvfile)
    count = 0
    a=[]
    b=[]
    for row in reader:
        count = count+1
        #print(row[2])
        a.append(row[0])
        b.append(row[1])
print(a[1:])
print(b[1:])

for x in a:
  s = slice(12)
  print(x[s])

df = pd.read_csv("output.csv")
#print(df)
var = df['Line_ItemName'].tolist()
var
h = []
for x in var:
  s = slice(12)
  print(x[s])
  h.append(x[s])
print(h)

df = pd.read_csv("output.csv")
#print(df)
var = df['Line_ItemName'].tolist()
var
d = []
for x in var:
  s1 = x.split()
  print(s1)
  m = ' '.join(s1[1:])
  d.append(m)
print(m)
print(d)

df = pd.read_csv("output.csv")
#print(df)
var = df['Subtotal'].tolist()
var
g = []
for x in var:
  s = slice(6)
  print(x[s][1:])
  g.append(x[s][1:])
print(g)

df = pd.read_csv("output.csv")
#print(df)
var = df['Subtotal'].tolist()
var[0][2:]
f = []
for x in var:
  c = var[0][1:]
  e = var[0][-1]
  print(c)
  print(e)
  f.append(e)
print(f)

df = pd.DataFrame({'Invoice_Line_Id (Primarykey and Auto increment)': '',
                   'Line_Invoice_Id_FK': '',
                   'User_id_FK': '',
                   'Line_ItemName': (h),
                   'Line_ItemDesc': (d),
                   'Line_UOM': '',
                   'Line_ItemQuantity': '',
                   'Line_ItemRate': (g),
                   'line_item_amount': (g),
                   'line_item_Taxable': (f),
                   'line_item_return': ''})
df
df.to_csv("invoice_inline.csv", index=None)

["400248173885 VERSACE L 'HOMME 3.", '400244460217 xGrainam 24 Blk 4W']
['$34.99R', '$84.99R']
Line_ItemNam
400248173885
400244460217
400248173885
400244460217
['400248173885', '400244460217']
['400248173885', 'VERSACE', 'L', "'HOMME", '3.']
['400244460217', 'xGrainam', '24', 'Blk', '4W']
xGrainam 24 Blk 4W
["VERSACE L 'HOMME 3.", 'xGrainam 24 Blk 4W']
34.99
84.99
['34.99', '84.99']
34.99R
R
34.99R
R
['R', 'R']

**Referance**

In [ ]:
# Load pandas
import pandas as pd

# Read CSV file into DataFrame df
df = pd.read_csv('table.csv', index_col=0)

# Show dataframe
print(df)

  400248173885 VERSACE L 'HOMME 3.  $34.99R
1  400244460217 xGrainam 24 Blk 4W  $84.99R
2                         Subtotal  $119.98
3                 Sales Tax 8.250%    $9.90
4                            Total  $129.88
5              Sold: 2 Returned: 0
6                             Visa  $129.88

In [ ]:
import pandas as pd

dataset = pd.read_csv('table.csv')
ftCol = dataset.iloc[:, 1].values
ftCol
print(ftCol)

['400244460217 xGrainam 24 Blk 4W' 'Subtotal' 'Sales Tax 8.250%' 'Total'
 'Sold: 2 Returned: 0' 'Visa']

In [ ]:
import pandas as pd

dataset = pd.read_csv('table.csv')
ftCol = dataset.iloc[:, 1].values
ftCol
print(ftCol[0])

400244460217 xGrainam 24 Blk 4W

In [ ]:
# Python program to demonstrate
# string slicing

# String slicing
String = 'ASTRING'

# Using slice constructor
s1 = slice(3)
s2 = slice(1, 5, 2)
s3 = slice(-1, -12, -2)

print(String[s1])
print(String[s2])
print(String[s3])

AST
SR
GITA

In [ ]:
import pandas as pd

dataset = pd.read_csv('table.csv')
ftCol = dataset.iloc[:, 1].values
ftCol
s1 = ftCol[1]
s = slice(12)
print(s1[s])

Subtotal

In [ ]:
import pandas as pd

dataset = pd.read_csv('table.csv')
ftCol = dataset.iloc[:, 2].values
ftCol
s1 = ftCol[0].split()
#s = slice(12)
#print(s1[s])
#print(s1[1:])
m = ' '.join(s1[1:])
print(m)

xGrainam 24 Blk 4W

In [ ]:
# reading by columns and getting output as list
import pandas as pd
import csv
with open('table.csv', encoding='utf-8-sig') as csvfile:
    reader = csv.reader(csvfile)
    count = 0
    fsa=[]
    for row in reader:
        count = count+1
        #print(row[2])
        fsa.append(row[2])
print(fsa[0:])
print(fsa[3:])
s1 = fsa[1]
s = slice(12)
print(s1[s])

["400248173885 VERSACE L 'HOMME 3.", '400244460217 xGrainam 24 Blk 4W', 'Subtotal', 'Sales Tax 8.250%', 'Total', 'Sold: 2 Returned: 0', 'Visa']
['Sales Tax 8.250%', 'Total', 'Sold: 2 Returned: 0', 'Visa']
400244460217

In [ ]:
# reading by columns and getting output as list
import pandas as pd
import csv
with open('table.csv', encoding='utf-8-sig') as csvfile:
    reader = csv.reader(csvfile)
    count = 0
    fsa=[]
    for row in reader:
        count = count+1
        #print(row[2])
        fsa.append(row[2])
#print(fsa[0:])
#print(fsa[3:])
s1 = fsa[1].split()
#s = slice(12)
#print(s1[s])
#print(s1[1:])
m = ' '.join(s1[1:])
print(m)

xGrainam 24 Blk 4W

In [ ]:
 ["foo", "bar", "baz"].index("bar")

1

In [ ]:
for i, j in enumerate(['foo', 'bar', 'baz']):
  if j == 'bar':
    print(i)

1

In [ ]:
import pandas as pd
import csv
with open('text.csv', encoding='utf-8-sig') as csvfile:
    reader = csv.reader(csvfile)
    count = 0
    fsa=[]
    a=[]
    for row in reader:
        count = count+1
        #print(row[2])
        fsa.append(row[1])
        a.append(row[2])
print(fsa[0:])
print(a[1:][0])

['PageNo', 'page_1', 'page_2']
['HomeGoods', 'THE VILLAGE @ CINCO RANCH', '23518 WESTHEIMER PARKWAY', 'KATY, TX 77494', 'United States', '281-574-1720', 'REGULAR SALE', '41 - KITCHEN/ACCESS 392204', '$7.99 T', '41 - KITCHEN/ACCESS 403389', '$5.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096508', '$12.99 T', '56 - Q LINE', '012004', '$4.99 T', '31 - DINNERWARE/CER 538462', '$12.99 T', '31 - DINNERWARE/CER 538459', '$12.99 T', 'Subtotal', '$91.90', 'TX 8.250% Sales Tax', '$7.58', 'Total', '$99.48', 'Gift Card', '$81.17', '9526', 'Entry Method: Swiped', 'Balance: $0.00', 'VISA', '$18.31', 'TRANSACTION RECORD', '2876', 'PURCHASE', 'EXPIRES **/** CHIP', 'AUTH# 94639D', 'AID A0000000031010', 'APPLICATION LABEL VISA CREDIT', 'Signature Captured', '000527', '00200061', '20:23:32', 'APPROVED', 'Change', '$0.00', 'HomeGoods VALUES YOUR FEEDBACK! ! !', 'Tell us what you think about', 'your store visit today and', 'enter a monthly drawing to win a', '$500 HomeGoods Gift Card!', 'Visit www.HOMEGOODSFEEDBACK.com', 'Respond by 9/21/22']

In [ ]:
a[1:][0].index("Subtotal")

ValueError: ignored

In [ ]:
a[1:][0].index("41 - KITCHEN/ACCESS")

139

In [ ]:
a[1:][0][139:532]

"41 - KITCHEN/ACCESS 392204', '$7.99 T', '41 - KITCHEN/ACCESS 403389', '$5.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096508', '$12.99 T', '56 - Q LINE', '012004', '$4.99 T', '31 - DINNERWARE/CER 538462', '$12.99 T', '31 - DINNERWARE/CER 538459', '$12.99 T', '"

In [ ]:
a[1:][0][0:139]

'403389'

**List format**

In [1]:
import pandas as pd
import csv
with open('text.csv', encoding='utf-8-sig') as csvfile:
    reader = csv.reader(csvfile)
    count = 0
    fsa=[]
    a=[]
    for row in reader:
        count = count+1
        #print(row[2])
        fsa.append(row[1:])
        a.append(row[2])
print(fsa[0:])
print(a[1:][0])

[['PageNo', 'Text'], ['page_1', "['HomeGoods', 'THE VILLAGE @ CINCO RANCH', '23518 WESTHEIMER PARKWAY', 'KATY, TX 77494', 'United States', '281-574-1720', 'REGULAR SALE', '41 - KITCHEN/ACCESS 392204', '$7.99 T', '41 - KITCHEN/ACCESS 403389', '$5.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096508', '$12.99 T', '56 - Q LINE', '012004', '$4.99 T', '31 - DINNERWARE/CER 538462', '$12.99 T', '31 - DINNERWARE/CER 538459', '$12.99 T', 'Subtotal', '$91.90', 'TX 8.250% Sales Tax', '$7.58', 'Total', '$99.48', 'Gift Card', '$81.17', '9526', 'Entry Method: Swiped', 'Balance: $0.00', 'VISA', '$18.31', 'TRANSACTION RECORD', '2876', 'PURCHASE', 'EXPIRES **/** CHIP', 'AUTH# 94639D', 'AID A0000000031010', 'APPLICATION LABEL VISA CREDIT', 'Signature Captured', '000527', '00200061', '20:23:32', 'APPROVED', 'Change', '$0.00', 'HomeGoods VALUES YOUR FEEDBACK! ! !', 'Tell us what you think about', 'your store visit today and', 'enter a monthly drawing to win a', '$500 HomeGoods Gift Card!', 'Visit www.HOMEGOODSFEEDBACK.com', 'Respond by 9/21/22']"], ['page_2', "['HomeGoods', 'GRAND MORTON TOWN CENTER', '2732 WEST GRAND PKWY N', 'KATY, TX 77449', 'United States', '281-665-4300', 'REGULAR SALE', '35- CANDLES', '252897', '$15.00 T', 'Subtotal', '$15.00', 'TX 8.250% Sales Tax', '$1.24', 'Total', '$16.24', 'Gift Card', '$16.24', '9526', 'Entry Method: Swiped', 'Balance: $81.17', 'Change', '$0.00', 'HOMEGOODS VALUES YOUR FEEDBACK!!!!', 'Tell us what you think about', 'your store visit today and', 'enter a monthly drawing to win a', '$500 HomeGoods Gift Card!', 'Visit www.HOHEGOODSFEEDBACK.com', 'Respond by 9/11/22', 'You will need to reference', 'your receipt', 'Survey number: 1011026519', 'SEE WEBSITE FOR COMPLETE RULES', 'Sold Item Count = 1', '01131KYN611411ELP4AWR4Q', '281011 2 6519 08/28/2022 18:56:03', '1053', 'Customer Copy', 'THANK YOU FOR SHOPPING AT HOMEGOODS']"]]
['HomeGoods', 'THE VILLAGE @ CINCO RANCH', '23518 WESTHEIMER PARKWAY', 'KATY, TX 77494', 'United States', '281-574-1720', 'REGULAR SALE', '41 - KITCHEN/ACCESS 392204', '$7.99 T', '41 - KITCHEN/ACCESS 403389', '$5.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096508', '$12.99 T', '56 - Q LINE', '012004', '$4.99 T', '31 - DINNERWARE/CER 538462', '$12.99 T', '31 - DINNERWARE/CER 538459', '$12.99 T', 'Subtotal', '$91.90', 'TX 8.250% Sales Tax', '$7.58', 'Total', '$99.48', 'Gift Card', '$81.17', '9526', 'Entry Method: Swiped', 'Balance: $0.00', 'VISA', '$18.31', 'TRANSACTION RECORD', '2876', 'PURCHASE', 'EXPIRES **/** CHIP', 'AUTH# 94639D', 'AID A0000000031010', 'APPLICATION LABEL VISA CREDIT', 'Signature Captured', '000527', '00200061', '20:23:32', 'APPROVED', 'Change', '$0.00', 'HomeGoods VALUES YOUR FEEDBACK! ! !', 'Tell us what you think about', 'your store visit today and', 'enter a monthly drawing to win a', '$500 HomeGoods Gift Card!', 'Visit www.HOMEGOODSFEEDBACK.com', 'Respond by 9/21/22']

In [5]:
#a[1:][0].index("SALE")
c = a[1:][0].index("'REGULAR SALE")
print(a[1:][0][0:c]+']')

['HomeGoods', 'THE VILLAGE @ CINCO RANCH', '23518 WESTHEIMER PARKWAY', 'KATY, TX 77494', 'United States', '281-574-1720', ]

In [ ]:
a[1:][0][0:131]

"['HomeGoods', 'THE VILLAGE @ CINCO RANCH', '23518 WESTHEIMER PARKWAY', 'KATY, TX 77494', 'United States', '281-574-1720', 'REGULAR "

In [ ]:
a[1:][0][131:532]

"SALE', '41 - KITCHEN/ACCESS 392204', '$7.99 T', '41 - KITCHEN/ACCESS 403389', '$5.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096508', '$12.99 T', '56 - Q LINE', '012004', '$4.99 T', '31 - DINNERWARE/CER 538462', '$12.99 T', '31 - DINNERWARE/CER 538459', '$12.99 T', '"

In [ ]:
a[1:][0].index("Subtotal")

In [ ]:
a[1:][0][532:]

"Subtotal', '$91.90', 'TX 8.250% Sales Tax', '$7.58', 'Total', '$99.48', 'Gift Card', '$81.17', '9526', 'Entry Method: Swiped', 'Balance: $0.00', 'VISA', '$18.31', 'TRANSACTION RECORD', '2876', 'PURCHASE', 'EXPIRES **/** CHIP', 'AUTH# 94639D', 'AID A0000000031010', 'APPLICATION LABEL VISA CREDIT', 'Signature Captured', '000527', '00200061', '20:23:32', 'APPROVED', 'Change', '$0.00', 'HomeGoods VALUES YOUR FEEDBACK! ! !', 'Tell us what you think about', 'your store visit today and', 'enter a monthly drawing to win a', '$500 HomeGoods Gift Card!', 'Visit www.HOMEGOODSFEEDBACK.com', 'Respond by 9/21/22']"

In [ ]:
fruits = ["apple", "banana", "cherry"]
a = fruits[1:]
b = []
for x in a:
  b.append(x)
print(b)

['banana', 'cherry']

In [28]:
#a[1:][0].index("SALE")
c = a[1:][0].index("'REGULAR SALE")
print(a[1:][0][0:c]+']')
d = (a[1:][0][0:c]+']')
#print(a)

e = a[1:][0].index("Subtotal")
print('['+a[1:][0][137:e]+']')
f = (a[1:][0][137:e]+']')

h = a[1:][0].index("Subtotal")
print('['+a[1:][0][h:]+']')
j = (a[1:][0][h:]+']')

['HomeGoods', 'THE VILLAGE @ CINCO RANCH', '23518 WESTHEIMER PARKWAY', 'KATY, TX 77494', 'United States', '281-574-1720', ]
[ '41 - KITCHEN/ACCESS 392204', '$7.99 T', '41 - KITCHEN/ACCESS 403389', '$5.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '41 - KITCHEN/ACCESS 408621', '$7.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096504', '$8.99 T', '36 - TOWELS', '096508', '$12.99 T', '56 - Q LINE', '012004', '$4.99 T', '31 - DINNERWARE/CER 538462', '$12.99 T', '31 - DINNERWARE/CER 538459', '$12.99 T', ']
[Subtotal', '$91.90', 'TX 8.250% Sales Tax', '$7.58', 'Total', '$99.48', 'Gift Card', '$81.17', '9526', 'Entry Method: Swiped', 'Balance: $0.00', 'VISA', '$18.31', 'TRANSACTION RECORD', '2876', 'PURCHASE', 'EXPIRES **/** CHIP', 'AUTH# 94639D', 'AID A0000000031010', 'APPLICATION LABEL VISA CREDIT', 'Signature Captured', '000527', '00200061', '20:23:32', 'APPROVED', 'Change', '$0.00', 'HomeGoods VALUES YOUR FEEDBACK! ! !', 'Tell us what you think about', 'your store visit today and', 'enter a monthly drawing to win a', '$500 HomeGoods Gift Card!', 'Visit www.HOMEGOODSFEEDBACK.com', 'Respond by 9/21/22']]