<a href="https://colab.research.google.com/github/ManokarGopinath/Data-scrapping/blob/main/Read_a_CSV_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
d1 = {'col1': [1, 2, 3 ,4], 'col2': ['a','x','e', 'f'], 'col3':['q','w','y','v'], }

df = pd.DataFrame(data=d1)
display(df)
#df.to_csv('demo.csv')
df.to_csv('table.csv')

   col1 col2 col3
0     1    a    q
1     2    x    w
2     3    e    y
3     4    f    v

In [ ]:
# reading by columns
import pandas as pd

dataset = pd.read_csv("table.csv")

data = dataset.iloc[:,1:2].values
print(data)

[[1]
 [2]
 [3]
 [4]]

In [ ]:
# reading by invidual columns and getting outputs 
import pandas as pd
import csv
with open('table.csv', encoding='utf-8-sig') as csvfile:
    reader = csv.reader(csvfile)
    count = 0
    #fsa=[]
    for row in reader:
        count = count+1
        print(row[2])
        #fsa.append(row[1])
#print(fsa[0:])
#print(fsa[3:])

col2
a
x
e
f

In [ ]:
# Import pandas
import pandas as pd

# reading csv file
pd.read_csv("table.csv")

   Unnamed: 0  col1 col2 col3
0           0     1    a    q
1           1     2    x    w
2           2     3    e    y
3           3     4    f    v

In [ ]:
# Load pandas
import pandas as pd

# Read CSV file into DataFrame df
df = pd.read_csv('table.csv', index_col=0)

# Show dataframe
print(df)

  400248173885 VERSACE L 'HOMME 3.  $34.99R
1  400244460217 xGrainam 24 Blk 4W  $84.99R
2                         Subtotal  $119.98
3                 Sales Tax 8.250%    $9.90
4                            Total  $129.88
5              Sold: 2 Returned: 0
6                             Visa  $129.88

In [ ]:
import pandas as pd

dataset = pd.read_csv('table.csv')
ftCol = dataset.iloc[:, 1].values
ftCol
print(ftCol)

['400244460217 xGrainam 24 Blk 4W' 'Subtotal' 'Sales Tax 8.250%' 'Total'
 'Sold: 2 Returned: 0' 'Visa']

In [ ]:
import pandas as pd

dataset = pd.read_csv('table.csv')
ftCol = dataset.iloc[:, 1].values
ftCol
print(ftCol[0])

400244460217 xGrainam 24 Blk 4W

In [ ]:
# Python program to demonstrate
# string slicing

# String slicing
String = 'ASTRING'

# Using slice constructor
s1 = slice(3)
s2 = slice(1, 5, 2)
s3 = slice(-1, -12, -2)

print(String[s1])
print(String[s2])
print(String[s3])

AST
SR
GITA

In [ ]:
import pandas as pd

dataset = pd.read_csv('table.csv')
ftCol = dataset.iloc[:, 1].values
ftCol
s1 = ftCol[1]
s = slice(12)
print(s1[s])

Subtotal

In [ ]:
import pandas as pd

dataset = pd.read_csv('table.csv')
ftCol = dataset.iloc[:, 2].values
ftCol
s1 = ftCol[0].split()
#s = slice(12)
#print(s1[s])
#print(s1[1:])
m = ' '.join(s1[1:])
print(m)

xGrainam 24 Blk 4W

In [35]:
# reading by columns and getting output as list
import pandas as pd
import csv
with open('table.csv', encoding='utf-8-sig') as csvfile:
    reader = csv.reader(csvfile)
    count = 0
    fsa=[]
    for row in reader:
        count = count+1
        #print(row[2])
        fsa.append(row[2])
print(fsa[0:])
print(fsa[3:])
s1 = fsa[1]
s = slice(12)
print(s1[s])

["400248173885 VERSACE L 'HOMME 3.", '400244460217 xGrainam 24 Blk 4W', 'Subtotal', 'Sales Tax 8.250%', 'Total', 'Sold: 2 Returned: 0', 'Visa']
['Sales Tax 8.250%', 'Total', 'Sold: 2 Returned: 0', 'Visa']
400244460217

In [37]:
# reading by columns and getting output as list
import pandas as pd
import csv
with open('table.csv', encoding='utf-8-sig') as csvfile:
    reader = csv.reader(csvfile)
    count = 0
    fsa=[]
    for row in reader:
        count = count+1
        #print(row[2])
        fsa.append(row[2])
#print(fsa[0:])
#print(fsa[3:])
s1 = fsa[1].split()
#s = slice(12)
#print(s1[s])
#print(s1[1:])
m = ' '.join(s1[1:])
print(m)

xGrainam 24 Blk 4W

In [ ]:
# reading by columns and getting output as list
import pandas as pd
import csv
with open('key_value.csv', encoding='utf-8-sig') as csvfile:
    reader = csv.reader(csvfile)
    count = 0
    fsa=[]
    for row in reader:
        count = count+1
        #print(row[2])
        fsa.append(row[2])
print(fsa[0:])
#print(fsa[3:])

['Values', 'A0000000031010', '5022', '1685', '01', '2', '07/12/22 11:40:28 AM ASSOC:', '08912D', 'XXXXXXXXXXXX2868 <I>', '0', '1685-01-5022-2193-7', '1685-01-5022-2193-7', 'CREDIT', '$129.88', '$9.90', 'VALUE_NOT_FOUND', '$119.98', 'Detail #:1-01 2.09 012988']

In [ ]:
# reading by columns and getting output as list
import pandas as pd
import csv
with open('key_value.csv', encoding='utf-8-sig') as csvfile:
    reader = csv.reader(csvfile)
    count = 0
    fsa=[]
    for row in reader:
        count = count+1
        #print(row[2])
        fsa.append(row[2])
print(fsa[11])
#print(fsa[3:])

1685-01-5022-2193-7
07/12/22 11:40:28 AM ASSOC:

In [ ]:
import pandas as pd
df = pd.DataFrame({'InvoiceNo_ReceiptNo': fsa[11],
                   'Transaction_Date': fsa[6],
                   'invoice_subtotal': fsa[16],
                   'SalesTaxPercent': fsa[14],
                   'Total': fsa[13],
                   'NumberOfItemsSold': fsa[5],
                   'NumberOfItemsReturned': fsa[9],
                   'CardType': fsa[12],
                   'CardNumber': fsa[8],
                   'AuthNo': fsa[7],
                   'AID': fsa[1],
                   'TenderDetails': fsa[17],
                   'StoreID': fsa[3],
                   'CustomerRef': ''},index=[0])
df
df.to_csv("output.csv", index=None)

In [43]:
import pandas as pd
import csv
with open('table.csv', encoding='utf-8-sig') as csvfile:
    reader = csv.reader(csvfile)
    count = 0
    fsa=[]
    for row in reader:
        count = count+1
        #print(row[2])
        fsa.append(row[2])
print(fsa[0:])

["400248173885 VERSACE L 'HOMME 3.", '400244460217 xGrainam 24 Blk 4W', 'Subtotal', 'Sales Tax 8.250%', 'Total', 'Sold: 2 Returned: 0', 'Visa']

In [20]:
import pandas as pd
import csv
with open('table.csv', encoding='utf-8-sig') as csvfile:
    reader = csv.reader(csvfile)
    count = 0
    a=[]
    for row in reader:
        count = count+1
        #print(row[2])
        a.append(row[3])
print(a[0:])

['$34.99R', '$84.99R', '$119.98', '$9.90', '$129.88', ' ', '$129.88']

In [44]:
#programming_languages = ["JavaScript","Python","Java","Python","C++","Python"]
#fsa[0:]
python_indices = []

for programming_language in range(len(fsa[0:])):
    if fsa[0:][programming_language] == "Subtotal":
      python_indices.append(programming_language)

print(python_indices)
fsa[0:int(python_indices)]

[2]

TypeError: ignored

In [45]:
fruits = fsa[0:]

x = fruits.count("Subtotal")
x+=1
x
type(x)

int

In [46]:
fsa[0:x]

["400248173885 VERSACE L 'HOMME 3.", '400244460217 xGrainam 24 Blk 4W']

In [21]:
a[0:x]

['$34.99R', '$84.99R']

In [48]:
#b = []
#s1 = int(fsa[0:x])
#for x in s1:
  #s = slice(12)
  #print(x[s])
  #b.append(x[s])
type(fsa)

list

In [47]:
#fsa[0:x]
lis = fsa[0:x]
res = [eval(i) for i in lis]
print("Modified list is: ", res)

SyntaxError: ignored